.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter button:focus {
  background-color: #5a03fd9c;
}

.filter-options {
  display: flex;
  width: 100%;
}
.filter-option-buttons button {
  background-color: #e6f1ef63;
  color: rgb(0, 0, 0);
}
.filter-option-buttons {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.filter-options-buttons-div,
.filter-options-select {
  text-align: center;

  flex: 1;
}

.filter-options-select select {
  width: 70%;
  background-color: #d9d3e263;
  color: #020202;
  font-size: 18px;
  text-align: center;
}
