.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  border-bottom: 1px groove var(--primary-color);
}

.filter button:focus {
  background-color: #5a03fd9c;
}

.filter-options {
  display: flex;
  width: 100%;
  align-items: center;
}
.filter-option-buttons button {
  background-color: #e6f1ef63;
}

.filter-options-buttons-div,
.filter-options-select {
  text-align: center;
  flex: 1;
}

.filter-options-select select {
  width: 70%;
  background-color: #e6f1ef7c;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
}
