.sideBar-search {
  background-color: var(--secondary-color);
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search input {
  width: 65%;
  padding: 10px;
  background-color: transparent;
  color: #000;
}
.search input::placeholder {
  color: #000;
}
