.sideBar-search {
  background-color: var(--secondary-color);
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search input {
  width: 80%;
  padding: 10px;
  background-color: transparent;
}
