.close-sidebar__button {
  display: none;
}
.search {
  height: 60px;
  padding-top: 10px;
}
.app-content-appName {
  height: 60px;
  align-items: end;
}

.mobile-sidebar-icon {
  display: none;
}

.close-mobile-sidebar-icon {
  display: none;
}
.nav {
  position: absolute;
  z-index: 3;
}

.sideBar-newTask-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideBar-newTask-container button {
  background-color: #5a00ad;
  color: rgb(255, 238, 0);
  font-size: 20px;
}

.sideBar-newTask__button {
  margin-top: 10px;
  align-self: center;
}

.desktop-menu {
  flex: 0.8;
  background-color: #ffffff3b;
}

@keyframes showSideBar {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .desktop-menu {
    display: none;
  }

  .nav {
    position: fixed;
  }

  .app-content-appName {
    position: fixed;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .todo-list {
    padding: 15px;
    margin-top: 120px;
  }
  .mobile-sidebar-icon,
  .close-sidebar__button {
    display: block;
    top: 43px;
    left: 10px;
    font-size: 35px;
  }

  .close-sidebar__button {
    z-index: 2;
    position: absolute;
  }
  .mobile-sidebar-icon {
    position: absolute;
  }

  .Link {
    font-size: 13px;
  }

  .search {
    height: 85px;
  }
  .app-content-appName {
    height: 85px;
  }

  .sideBar {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #dcc8f5;
    animation: showSideBar 0.3s;
  }
}
