.close-sidebar__button {
  display: none;
}
.search {
  height: 115px;
  padding-top: 50px;
}

.mobile-sidebar-icon {
  display: none;
}

.close-mobile-sidebar-icon {
  display: none;
}

.sideBar-newTask-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideBar-newTask__button {
  margin: 30px 0 30px 0;
  align-self: center;
}

.desktop-menu {
  flex: 0.8;
  box-shadow: rgba(0, 0, 0, 0.068) 5px 0px 10px,
    rgba(0, 0, 0, 0.062) 5px 0px 10px;
}

@keyframes showSideBar {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@media (max-width: 880px) {
  .desktop-menu {
    display: none;
  }

  .app-content-appName {
    position: fixed;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .todo-list {
    padding: 15px;
    margin-top: 120px;
  }
  .mobile-sidebar-icon,
  .close-sidebar__button {
    display: block;
    top: 43px;

    left: 10px;
    font-size: 35px;
  }

  .close-sidebar__button {
    z-index: 2;
    position: absolute;
  }
  .mobile-sidebar-icon {
    position: absolute;
  }

  .sideBar {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #d8d8d8;
    animation: showSideBar 0.3s;
  }
}
