.ToDoForm {
  padding: 1.5rem 0px 1.5rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: showContent 0.5s;
}

@keyframes showContent {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

.ToDoForm-container {
  width: 100%;
  text-align: center;
}

.ToDoForm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToDoForm-form input,
.ToDoForm-form select {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  margin-top: 10px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  display: flex;
  text-align: center;
  border: none;
  outline: none;
}

.editor {
  height: 200px;
  width: 80%;
  border: 1px solid var(--primary-color);
}
