.ToDoForm {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ToDoForm-container {
  width: 80%;
}

.ToDoForm-form input,
.ToDoForm-form select {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 3px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}

.editor {
  height: 200px;
}
