@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --primary-color: #333;
  --secondary-color: #16d6ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app input {
  border: none;
  border-bottom: 2px solid var(--primary-color);
}

.desktop-menu {
  width: 300px;
}

.app {
  font-family: var(--plus-jakarta-sans);
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  color: var(--primary-color);
  display: flex;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.error {
  background-color: #f1484871;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.success {
  background-color: #33e22371;
  border-radius: 5px;
  padding: 5px;
}

.loading-div {
  height: 100vh;
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.app input {
  background-color: transparent;
  font-size: 17px;
}

.app input:focus {
  outline: none;
}

.Logo {
  width: 35px;
  height: 35px;
}

.app input::placeholder {
  text-align: center;
  color: #000;
}

.app h1 {
  text-align: center;
}

.app h2 {
  margin-bottom: 10px;
}

.app button {
  background-color: #cacaca94;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #0497779c;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
}

.app button:hover {
  opacity: 1;
}

.filter {
  border-bottom: 1px solid var(--primary-color);
}

.filter button:focus {
  background-color: #0497779c;
}

.filter,
.search {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.app-content-appName {
  height: 115px;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.app select {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}

.app select:focus {
  outline: none;
}

.app select option {
  background-color: #dadada;
}
