@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --primary-color: #333;
  --secondary-color: #16d6ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}
.app input {
  border: none;
  color: white;
  border-bottom: 2px solid var(--primary-color);
}
.app h2 {
  font-size: 20px;
}
.desktop-menu {
  width: 300px;
}

.app {
  background-image: url("./assets/appBG.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  display: flex;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.error {
  background-color: #f1484871;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.success {
  background-color: #33e22371;
  border-radius: 5px;
  padding: 5px;
}

.loading-div {
  height: 100vh;
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.app input {
  background-color: #57248a9d;
  font-size: 17px;
}

.app input:focus {
  outline: none;
}

.app input:focus::placeholder {
  color: transparent;
}

.app input::placeholder {
  text-align: center;
  font-size: 15px;
  color: white;
}

.app h1 {
  text-align: center;
}

.app h2 {
  margin-bottom: 10px;
}

.app button {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  transition: 0.3s;
}

.app button:hover {
  opacity: 1;
}

.filter,
.search {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.app-content-appName {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.app select {
  appearance: none;
  background-color: #57248a9d;
  border: none;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #5a03fd9c;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  font-size: 15px;
}

.app select:focus {
  outline: none;
}

.app select option {
  background-color: #8d56f5;
}

.app select option:disabled {
  color: rgb(0, 0, 0);
}
